/* # RESET AND DEBUG */

p {
  margin-bottom: 0;
}

.row {
  --bs-gutter-x: 0;
}

/* # LAYOUT */

.wrapper {
  height: 100vh;
  background-color: #d8dbd4ff;
  box-shadow: inset 0px 130px 0 0 #009688ff;
}

.col-4 {
  background-color: #ffffff;
}

.bg-azure {
  background-color: #8edafc;
}

.bg-grey {
  background-color: #eaeaea;
}

.contact-line {
  min-height: 65px;
}

.chat-scroll {
  height: calc(100% - (65px * 3));
}

.pic-user {
  object-fit: cover;
  border-radius: 50%;
  height: 55px;
  width: 55px;
}

.text-grey {
  color: #c4c4c8;
  font-size: 0.8rem;
}

.bell-icon {
  color: #8edafc;
  background-color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

.border-chat {
  border-top: 1px solid #f3eeee;
}

i {
  color: #b1b1b1;
  cursor: pointer;
}

/* # MESSAGE SPACE */

.messages {
  flex-grow: 1;
  background-image: url(../img/mine.jpg);
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.message {
  width: 40%;
  padding: 1rem 1rem 0 1rem;

  border-radius: 10px;
  align-self: flex-start;
}

.message.sent {
  background-color: #d5f9ba;

  align-self: flex-end;
}

.message.received {
  background-color: white;
}

.active,
.hover-row:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

.time-text {
  align-self: flex-end;
}
